<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.stmikwp.pointingapp"
    versionCode = "10"
    version     = "1.0.0" >

    <name>Example Pointing Web App</name>

  <description>
      Ini merupakan contoh sederhana pointing aplikasi langsung ke web yang dituju
  </description>

  <author href="" email="achmadhabib87@gmail.com">
      Habib
  </author>

    <plugin name="cordova-plugin-whitelist" version="1" />

    <access origin="*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="https://*/*" />
  
</widget>