.lpmd .card-header .media-body h5 {
  margin-top: 100px;
}
.rtrw .card-header .media-body h5 {
  margin-top: 100px;
}
.karang .card-header .media-body h5 {
  margin-top: 100px;
}

body {
  background-color: whitesmoke;
}
